<!DOCTYPE html>
<html>
    <head>
        <title>Aula 4 - Ex2</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/estilo.css">
    </head>
    <body>
        <div class="titulo">
            <a href="http://blueedtech.com.br">
                <img src="{{imagem}}" width="100" alt="Logo da Blue" />
            </a><h1>Blueedtech</h1>
        </div>
        <br><br>
        <p>Olá {{nome}}, você tem {{idade}} anos e mora em {{cidade}}</p>
        {% if maiordeidade %}
        <p>Você é maior de idade</p>
        {% else %}
        <p>Você é menor de idade</p>
        {% endif %}
    </body>
</html>