@model Consulta

<div class="row">
    <form class="col-md-4" asp-action="Create">
        <div class="form-group">
            <label asp-for="dataHora" class="control-label" ></label>
            <input asp-for="dataHora" class="form-control" />
            <span class="text-danger" asp-validation-for="dataHora"></span>
        </div>
        <div class="form-group">
            <label asp-for="Descricao" class="control-label"></label>
            <input asp-for="Descricao" class="form-control" />
            <span class="text-danger" asp-validation-for="Descricao"></span>
        </div>
        <div class="form-group">
            <label asp-for="pacienteId" class="control-label"></label>
            <select asp-for="pacienteId" class="form-control" asp-items="ViewBag.listaDePacientes">
                <option value="">Selecione um paciente</option>
            </select>
            <span class="text-danger" asp-validation-for="pacienteId"></span>
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Criar!" />
            <a class="btn btn-info" asp-action="Index">Voltar!</a>
        </div>
    </form>
</div>

