@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    background: #eeeeee;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 10px 0; 
}
h2 {
    padding: 5px;
}
.header{
    padding-top: 10px;
    background: #FFFFFF;
}

.bloco{
    display: flex;
    justify-content: center;
    text-align: center;    
}

.botao{
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding: 12px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.796);
    margin-bottom: 15px;
}

.botao:hover{
    background-color: lightgrey;
    transition: 0.25s;
    color: black;
}

.tabela{
    border: 1px solid #adadad;
    border-spacing: 0;
    margin: 0 50px 20px;
    width: 100%;
}

.tabela tr:nth-child(even) td{
    background-color: white;
}

.tabela td{
    padding: 10px;
}

.tabela_header td{
    font-weight: bold;
}
#imagemSingle{
    max-height: 400px;
}
.form{
    width: 600px;
}

.form_input{
    align-items: center;
    justify-content: space-between;
}

.form_input label{
    font-weight: bold;
    padding-right: 10px;
}

.form_input input[type=text]{
    width: 450px;
    padding: 6px;
    margin: 6px 0;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
}

.form_input input[type=submit]{
    width: 100%;
}

.novo_id{
    background: black;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 5px;
}