@page
@model SalaDeAula.Pages.Alunos.CreateModel
@{
}
<h1>Página para criação de aluno</h1>

<form>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome do Aluno</label>
        <input type="text" class="form-control" id="nome" />
    </div>
    <div class="mb-3">
        <label for="nascimento" class="form-label">Data Nascimento</label>
        <input type="date" class="form-control" id="nascimento" />
    </div>
    <a class="btn btn-dark" asp-page="/Alunos/Sucesso">Criar</a>
    <a class="btn btn-dark" asp-page="/Alunos/Index">Voltar</a>
</form>