@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Número gerado: @Model.numero</h1>
    <a class="btn btn-dark" asp-page="/Index">Gerar novo número</a>
    @if (Model.numero > 70)
    {
        <h1 class="display-4">Você está com sorte!</h1>
    }
</div>
