body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titulo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}