@{
    ViewData["Title"] = "Farmacia BlueEdtech - Módulo 3";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo.</h1>
    <p><a href="https://www.linkedin.com/in/thiago-le%C3%A3o-62988784/" target="_blank">Linkedin </a></p>
</div>
