<title>Blue Burguers</title>
<link rel="icon shortcut" href="https://image.flaticon.com/icons/png/512/4972/4972091.png">
<link rel="stylesheet" href="/static/style.css"/>

<div class="header">
    <div class="bloco">
        <a href="/"><img src="/static/logoburguer.png" width="160" alt="Blue Burguer" /></a>
    </div>
    <div class="bloco">
        <h1>BLUE BURGUERS</h1>
    </div>
    <div class="bloco">
        <h2>Bem vindo, a Blue Hambúrgueria.</h2>
    </div>
    <div class="bloco">
        <a href="/create" class="botao">Adicionar</a>
        <a href="/read" class="botao">Visualizar todos</a>
    </div>

</div>
</br>

