<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon shortcut" href="https://image.flaticon.com/icons/png/512/4972/4972091.png">
    <link rel="stylesheet" href="/static/style.css">
    <title>Blue Burguers</title>
</head>
<body>
    {% include 'header.html' %}

    <div class="bloco"><h3>Projeto Final - Módulo 2 - T2C3</h3></div>
    <div class="bloco"><h4>Sistema interno de cardápio para uma harmburgueria utilizando sistema CRUD.</h4></div>
    <div class="bloco">
        <h4>Desenvolvedores: </h4>
        <a href="https://www.linkedin.com/in/pauloglemos/" target="_blank" class="botao">Paulo Gabriel</a>
        <a href="https://www.linkedin.com/in/thiago-le%C3%A3o-62988784/" target="_blank" class="botao">Thiago Leão</a>
        <a href="https://www.linkedin.com/in/vivianne-guimar%C3%A3es-62318620a/" target="_blank" class="botao">Vivianne Guimarães</a>
    </div>
</body>

<br/><footer>
    © Blueedtech - Turma2B
</footer>
</html>