<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./static/style.css"/>
        <title>Pokedex</title>
    </head>
    <body>
        <div class="bloco">
            <img src="static/logo-blue-croped.gif" width="200" alt="Logo blue"/>
        </div>
        <div class="bloco">
            <h1 id="pokemon_selecionado">Selecione um pokemon</h1>
        </div>
        <div class="lista_pokemon">
            {% for pokemon in pokemons%}
                <div class="card_pokemon" data-nome="{{ pokemon.nome }}">
                    <div class="imagem_pokemon">
                        <img src="{{ caminhoBase }}/{{ pokemon.numero }}.png" alt="Foto pokemon"/>
                    </div>
                    <div class="nome_pokemon">
                        <b>{{ pokemon.nome }}</b>
                    </div>
                </div>
            {% endfor %}   
        </div>
        <script type="text/javascript" src="./static/script.js"></script>
    </body>
</html>