<title>Blue Burguers</title>
<link rel="icon shortcut" href="https://image.flaticon.com/icons/png/512/4972/4972091.png">
<link rel="stylesheet" href="/static/style.css"/>

<div class="header">
    <div class="bloco">
        <img src="/static/logoburguer.png" width="200" alt="Blue Burguer" />
    </div>

    <div class="bloco">
        <h1>BLUE BURGUERS</h1>
    </div>

    <div class="bloco">
        <a href="/create" class="botao">ADICIONAR</a>
        <a href="/read" class="botao">VISUALIZAR</a>
    </div>

</div>

<footer>
    © Blueedtech - Turma2B
</footer>
